<!DOCTYPE html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <image class = "logo"  src ="{{ url_for('static', filename='images/logotipo_felipe_lima.svg',width=700, height=600)}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <style type ="text/css">
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        pointer-events: none;
    }
  </style>
</head>
<body>   
    <nav>
        <a  href= "https://www.linkedin.com/in/felipe-ermeson-b484bb128/">Linkedin</a>
        <a  href="https://medium.com/@felipeemersson">Medium</a>
        <a  href="https://github.com/FelipeErmeson">GitHub</a>
    </nav>

    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>